extends ../layout

block content 
  table 
    thead 
      tr 
        th Name 
        th Email 
        th Permissions 
        th Action
    tbody 
      each user in users 
        tr 
          td= user.name 
          td= user.email
          td 
            ul 
              each permission in user.UserPermissions 
                li= permission.Permission.name
          td
            button(onclick="editUser(" + user.id +")") Edit

  script.
    function editUser(id) {
      window.location.href = '/admin/users/edit/' + id;
    }