extends layout 

block content
    h1 Forgot Password
    if error
        p.error= error
    form(action="/forgot-password" method="post")
        label(for="email") Email:
        input(type="email" name="email" id="email")
        input(type="submit" value="Reset Password")
    
    p Remembered your password? 
        a(href="/login") Login here.
    p Don't have an account? 
        a(href="/register") Register here.
    script.
        document.getElementById('email').focus();