extends layout 

block content 
    h1 Not Active
    p Your account is not active. Please check your email for the activation link. 
    p If you have not received the email, you can request a new one by using 
      a(href='/forgot-password') Forgot Password