extends layout 

block content 
    h1 Reset Password
    if error
        p.error= error
    form(method="post")
        label(for="password") New Password:
        input(type="password" name="password" id="password")
        label(for="password2") Confirm Password:
        input(type="password" name="password2" id="password2")
        input(type="submit" value="Reset Password")
    
    p Remembered your password? 
        a(href="/login") Login here.
    p Don't have an account? 
        a(href="/register") Register here.
    script.
        document.getElementById('password').focus();